
*.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/workspace\.xml

\.idea/compiler\.xml

\.idea/encodings\.xml

\.idea/

elastic-news-integration/target/

elastic-news-common/target/

node_modules/

elastic-news-web/target/

elastic-news-api/target/

elastic-news-web/src/main/webapp/assets/
